.m-10{
    margin: 10px;
}

/* header section */

header {
    height: 50%;
}

.container {
    height: 100%;
    background-image: url(/img/background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 0.1;
}

.little-bio {
    width: 100vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 20%;
    height: fit-content;
}

.little-bio h1 {
    font-size: 60px;
}

.little-bio h4 {
    font-size: 25px;
}

/* section home */

.home {
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid white;
    padding-top: 10px;
}

.card {
    width: 90%;
    border: 1px solid white;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
}

.info {
    width: 40%;
    border-right: 1px solid white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.my-img {
    margin-top: 10px;
    margin-bottom: 10px;
    height: 60%;
    min-height: 250px;
    width: 60%;
    border: 1px solid white;
    border-radius: 20px;
    background-image: url('/img/profilo.jpeg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.general {
    display: flex;
    flex-direction: column;
    font-size: 30px;
}

.general a {
    color: white;
}

.general a:hover {
    color: rgb(101, 124, 255);
}

.social {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
}

.what-i-do {
    margin-bottom: 10px;
    width: 60%;
}

.what-i-do h1 {
    font-size: 50px;
}

.sections {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.section {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.section p {
    margin: 10px;
}

.discover {
    text-align: end;
}

.experience{
    display: flex;
    justify-content: center;
}

.exp-title{
    width: 100%;
    text-align: center;
}

.exp-title h1{
    font-weight: bold;
    font-size: 50px;
}

.exp-container{
    border-radius: 50px;
}

.main{
    width: 80%;
    border: 1px solid white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.general{
    max-width: 100%;
    border: 1px solid blue;
    margin: 10px;
}

.what{
    display: flex;
    flex-direction: row;
}

.strong{
    font-weight: bold;
}

.where-when{
    margin: 15px;
}

@media screen and (max-width: 768px) {

    /* navigation bar */
    .logo {
        z-index: 999;
        color: white;
        position: absolute;
        top: 5px;
        left: 5px;
        font-size: 25px;
    }

    .nav-tabs {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-end;
        width: 100vw;
        position: fixed;
        top: 0;
        right: 0;
        background-color: rgb(0, 5, 37);
        z-index: 99;
        opacity: 0.9;
        transition: all 3s cubic-bezier(.215, .61, .355, 1);
    }

    .inPage {
        justify-content: center;


    }

    .nav-item {
        margin: 5px;
        list-style-type: none;
    }

    .nav-link {
        font-size: 20px;
    }

    .active {
        border-bottom: 1px solid white;
    }



    .little-bio {
        width: 100vw;
        display: flex;
        align-items: center;
        flex-direction: column;
        position: absolute;
        top: 10%;
    }

    .card {
        width: 90%;
        border: 1px solid white;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
    }

    .info {
        width: 100%;
        height: 40%;
        border-bottom: 1px solid white;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

    }

    .my-img {
        width: 60%;
        height: 60%;
        border: 1px solid white;
        border-radius: 20px;
        background-image: url('/img/profilo.jpeg');
    }

    .social {
        margin-bottom: 10px;
        display: flex;
        flex-direction: row;
    }

    .what-i-do {
        margin-bottom: 10px;
        width: 100%;
        height: 60%;
    }

    .sections {
        margin-left: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .main{
        width: 100%;
    }

    h1{
        font-size: 28px;
    }

    h6{
        font-size: 16px;
    }


}